@use '../../../scss/abstracts/' as *;
#shipping {
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;
	.row {
		@include flex;
	}
	button[type='submit'] {
		margin-top: 1rem;
		&:hover {
			filter: brightness(1);
			color: $secondary;
			border: 4px solid $primary;
			background: white;
			border-radius: 8px;
		}
	}
}
