@use '../../../scss/abstracts/' as *;
#dashboard {
	margin-top: $header-height;
	min-height: calc(100vh - $header-height);
	padding-right: 2rem;
	.dashboard-details {
		@include flex;
		flex-direction: column;
		gap: 0.8rem;
		> .card {
			width: 100%;
		}
		.dashboard-details__info {
			@include flex;
			flex-wrap: wrap;
			.card {
				width: 300px;
				height: 150px;
			}
			gap: 0.5rem;
		}
	}

	.card-title a {
		color: #2e2e2e;
	}

	.card-title a:hover {
		color: $primary;
		text-decoration: none;
	}

	.card-body {
		padding-left: 0;
	}

	.card-text {
		font-size: 1.4rem;
	}

	.card-font-size {
		font-size: 1.5rem;
	}
}
